VITE_ARENACAM_API_URL=http://IP_DO_RASPBERRY:PORTA
VITE_ARENACAM_CAMERA1_LIVE_URL=http://IP_DO_RASPBERRY:PORTA/stream.html?src=NOME_STREAM_1
VITE_ARENACAM_CAMERA2_LIVE_URL=http://IP_DO_RASPBERRY:PORTA/stream.html?src=NOME_STREAM_2
